/* Review Selectors */

/* Universal selector(Uncommon)*/
* {
	color: aqua;
}

/* Class selector ("tag" should be the name of the class)*/
.tag {
	color: violet;
}

/* Descendant Selector("a" shows anchor tags. Applies to every descendant.) */
li a {
	color: aqua;
}

/* ID Selector ("signup" should be the name of the ID*/
#signup {
	background-color: black;
	color: red;
}

/* Adjacent Selector ()*/
input + button {
	color: green;
}

/* Direct-Descentdant Selector (Only applies to the direct descendant)*/
div > li {
	color: white;
}

/*Attribute Selector ()*/
input[type="password"] {
	color: greenyellow;
}

/* Pseudo class stuff(":hover")*/ /*THERE ARE MANY SEUDO CLASSES*/
button:hover {
	color: red;
}

/*Used when you hover over a button inside of a post*/
.post button:hover {
	color: royalblue;
}

/*Pseudo Element(Use 2 "::" for pseudo elements*/
h2::first-letter {
	font-size: 50px;
}

/*!important (Shows the browser that this is the most important task)*/ /*UNCOMMON*/
h1{
  background-color: cadetblue !important;  
}