section {
	background-color: aquamarine;
	width: 800px;
	height: 800px;
}

div {
	background-color: blueviolet;
	width: 50%; /*50% of the parent element(section)*/
	height: 50%;
}

h1 {
	font-size: 40px;
	border: 5px solid red;
	line-height: 80px;
}

h2{
    font-size: 2em; /*1 em = the font size of the parent*/
}

h3{
    font-size: 3rem; /*1 rem is the font size of the root element for the entire document*/
}